@font-face {
  font-family: "futura_lt_bt_light-webfont";
  src: url('../data/futura_lt_bt_light-webfont.ttf');
}
@font-face {
  font-family: 'Bellerose';
  src: url('../data/Bellerose.woff');
  font-size: 200%;
}
.barre li, a, a:visited {
  /* Les liens "au repos" et déjà visités antérieurement */
  color: #F2F2F2; /* couleur blanche */

}
.barre li, a:hover, a:focus, a:active {
  /* Les liens au survol, au focus, et actifs : on leur donne la couleur rouge pour l'exemple */
  color: #F2F2F2;
}
.barre a:hover {
  color:#AD975F
  /*background-color: #F2F2F2;
  color: #1A1D26;*/
}
body {
  height: 100%;
  background-color: #F2F2F2;
  font-size: 150%;
  color: #1A1D26;
  width: 100%;
  margin: 0%;
}

.content{
  width:100%;

}
h1{
  font-family: 'Bellerose';
}
p{
  font-size: 170%;
  font-family:futura_lt_bt_light-webfont;
}
.Description{
  display:inline-block;
  float : left;
  /*border-style: solid;
  background-color: grey;*/
  width: 80%;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 7%;
}



li {
  display: inline-block;
  float: right;
  /*taille*/
  width: 5%;
  height: 100%;
}
.about{
  margin-right: 7%;
}
.actu{
  width: 3.2%;
}
.barre .actu a {
  text-decoration:none;
  font-family: 'Bellerose';
  width: 4%;
  height: 76%;
  position: absolute;
  padding-top: 1.35%;
  text-align: center;
}
ul {
  background-color: #1A1D26;
  font-size: 100%;
  margin: 0%;
  width: 100%;
  height: 100%;
  /*height: 100px;*/
  float: left;
  padding: 0;

}

nav{
  position: fixed; top: 0; /* Mise en forme */
  width: 100%; /* <-- Largeur de votre site */
  height: 12%;
}

a {
  text-decoration:none;
  font-family:bellerose;
  width: 5%;
  height: 76%;
  position: absolute;
  padding-top: 1.35%;
  text-align: center;
}

.logo{
  display: inline-block;
  float: left;
  /*taille*/
  width: 5%;
  height: 100%;
  margin-left: 2%;
}
.logo a{
  text-decoration:none;
  font-family: Bellerose;
  width: 5%;
  height: 76%;
  position: absolute;
  padding-top: 0.05%;
  text-align: center;
}
.logo img {
 display: inline-block;
 float: left;
 width: 120%;
 height: 130%;
 /*taille*/
}
