@font-face {
  font-family: "futura_lt_bt_light-webfont";
  src: url('../fonts/futura_lt_bt_light-webfont.ttf');
}
@font-face {
  font-family: 'Bellerose';
  src: url('../fonts/Bellerose.woff');
  font-size: 200%;
}
.barre li, a, a:visited {
  /* Les liens "au repos" et déjà visités antérieurement */
  color: #F2F2F2; /* couleur blanche */

}
.barre li, a:hover, a:focus, a:active {
  /* Les liens au survol, au focus, et actifs : on leur donne la couleur rouge pour l'exemple */
  color: #F2F2F2;
}
.barre a:hover {
  color:#AD975F
  /*background-color: #F2F2F2;
  color: #1A1D26;*/
}
@media all and (min-width: 1400px) and (max-width: 1680px){
body{
  height: 100%;
  font-size: 150%;
  color: #1A1D26;
  width: 100%;
  margin: 0%;
  background-color:#D2B671;
}

.content{
  width:100%;
}

h1{
  color:#AD975F;
  font-family:bellerose;
}

h2{
	padding-bottom:5%;
	width:20%;
	color:#1A1D26;
	background-color:#AD975F;
  font-family:bellerose;
}

p{
  margin-top: 0%;
  font-size: 170%;
  color:#AD975F;
  font-family:futura_lt_bt_light-webfont;
}
img{
  width:100%;
  height:800px;
  z-index:1
}

.content:first-child{
 display:inline-block;
 width:100%;
 margin:0%;
 margin-top:4.5%

}
.content{
 display:inline-block;
 width:100%;
 margin-bottom:0px;
 margin-top:0px;
 border:0;
}
.zoneArtistes{
  background-color:rgba(10,11,15,0.07);
}
div .conteneur{
  margin-top: 5%;
}

/*BOUTON VOIR*/
/*CARA*/

.cara a {
  color : #1A1D26;
  background-color: #AD975F;
  text-decoration:none;
  font-size: 150%;
  padding-right:4%;
  padding-left:4%;
  padding-top:3%;
  padding-bottom:3%;
  text-align: center;
}
.cara p:last-child{
  color: transparent;
}

.cara a:visited {
  /* Les liens "au repos" et déjà visités antérieurement */
  color: #1A1D26; /* couleur blanche */
}
.cara{
  position:absolute;
  top:10%;
  left:5%;
  width:30%;
  height:30%;
  z-index:2;
  font-size:75%
}
/*NINA*/
.nina{
  position:absolute;
  top:105%;
  left:5%;
  width:30%;
  height:30%;
  z-index:2;
  font-size:75%
}
.nina p:last-child{
  color: transparent;
}
.nina a {
  color : #1A1D26;
  background-color: #AD975F;
  text-decoration:none;
  font-size: 150%;
  padding-right:4%;
  padding-left:4%;
  padding-top:3%;
  padding-bottom:3%;
  text-align: center;
}
.nina a:visited {
  /* Les liens "au repos" et déjà visités antérieurement */
  color: #1A1D26; /* couleur blanche */

}
/*REN*/
.ren{
  position:absolute;
  top:205%;
  left:5%;
  width:30%;
  height:30%;
  z-index:2;
  font-size:75%
}
.ren p:last-child{
  color: transparent;
}
.ren a {
  color : #1A1D26;
  background-color: #AD975F;
  text-decoration:none;
  font-size: 150%;
  padding-right:4%;
  padding-left:4%;
  padding-top:3%;
  padding-bottom:3%;
  text-align: center;
}
.ren a:visited {
  /* Les liens "au repos" et déjà visités antérieurement */
  color: #1A1D26; /* couleur blanche */
}

/*ROWE*/
.rowe{
  position:absolute;
  top:310%;
  left:5%;
  width:30%;
  height:30%;
  z-index:2;
  font-size:75%
}
.rowe p:last-child{
  color: transparent;
}
.rowe a {
  color : #1A1D26;
  background-color: #AD975F;
  text-decoration:none;
  font-size: 150%;
  padding-right:4%;
  padding-left:4%;
  padding-top:3%;
  padding-bottom:3%;
  text-align: center;
}
.rowe a:visited {
  /* Les liens "au repos" et déjà visités antérieurement */
  color: #1A1D26; /* couleur blanche */
}


/*BARRE DE NAVIGATION*/
li {
  display: inline-block;
  float: right;
  /*taille*/
  width: 5%;
  height: 100%;

}

.about{
  margin-right: 7%;
}
.actu{
  width: 3.2%;
}
.barre .actu a {
  text-decoration:none;
  width: 4%;
  height: 76%;
  position: absolute;
  padding-top: 1.35%;
  text-align: center;
}
ul {
  background-color: #1A1D26;
  font-size: 100%;
  margin: 0%;
  width: 100%;
  height: 100%;
  /*height: 100px;*/
  float: left;
  padding: 0;

}

.barre nav{
  position: fixed; top: 0; /* Mise en forme */
  width: 100%; /* <-- Largeur de votre site */
  height: 12%;
  z-index:3;
}

.barre a {
  text-decoration:none;
  font-family: bellerose;
  width: 5%;
  height: 76%;
  position: absolute;
  padding-top: 1.35%;
  text-align: center;
}

.logo{
  display: inline-block;
  float: left;
  /*taille*/
  width: 5%;
  height: 100%;
  margin-left: 2%;
}
.logo a{
  text-decoration:none;
  font-family: Bellerose Arial, serif;
  width: 5%;
  height: 76%;
  position: absolute;
  padding-top: 0.05%;
  text-align: center;
}
.logo img {
 display: inline-block;
 float: left;
 width: 120%;
 height: 130%;
 /*taille*/
}
}

@media all and (min-width: 1680px) and (max-width: 1980px){
body{
  height: 100%;
  font-size: 150%;
  color: #1A1D26;
  width: 100%;
  margin: 0%;
  background-color:#D2B671;
}

.content{
  width:100%;
}

h1{
  color:#AD975F;
  font-family:bellerose;
}

h2{
	padding-bottom:5%;
	width:20%;
	color:#1A1D26;
	background-color:#AD975F;
  font-family:bellerose;
}

p{
  font-size: 170%;
  color:#AD975F;
  font-family:futura_lt_bt_light-webfont;
}
img{
  width:100%;
  height:800px;
  z-index:1
}

.content:first-child{
 display:inline-block;
 width:100%;
 margin:0%;
 margin-top:4.5%

}
.content{
 display:inline-block;
 width:100%;
 margin-bottom:0px;
 margin-top:0px;
 border:0;
}
.zoneArtistes{
  background-color:rgba(10,11,15,0.07);
}
/*BOUTON VOIR*/
/*CARA*/

.cara a {
  color : #1A1D26;
  background-color: #AD975F;
  text-decoration:none;
  font-size: 150%;
  padding-right:4%;
  padding-left:4%;
  padding-top:3%;
  padding-bottom:3%;
  text-align: center;
}
.cara a:visited {
  /* Les liens "au repos" et déjà visités antérieurement */
  color: #1A1D26; /* couleur blanche */
}
.cara{
  position:absolute;
  top:10%;
  left:5%;
  width:30%;
  height:30%;
  z-index:2;
  font-size:75%
}
/*NINA*/
.nina{
  position:absolute;
  top:90%;
  left:5%;
  width:30%;
  height:30%;
  z-index:2;
  font-size:75%
}
.nina a {
  color : #1A1D26;
  background-color: #AD975F;
  text-decoration:none;
  font-size: 150%;
  padding-right:4%;
  padding-left:4%;
  padding-top:3%;
  padding-bottom:3%;
  text-align: center;
}
.nina a:visited {
  /* Les liens "au repos" et déjà visités antérieurement */
  color: #1A1D26; /* couleur blanche */

}
/*REN*/
.ren{
  position:absolute;
  top:180%;
  left:5%;
  width:30%;
  height:30%;
  z-index:2;
  font-size:75%
}
.ren a {
  color : #1A1D26;
  background-color: #AD975F;
  text-decoration:none;
  font-size: 150%;
  padding-right:4%;
  padding-left:4%;
  padding-top:3%;
  padding-bottom:3%;
  text-align: center;
}
.ren a:visited {
  /* Les liens "au repos" et déjà visités antérieurement */
  color: #1A1D26; /* couleur blanche */
}

/*ROWE*/
.rowe{
  position:absolute;
  top:270%;
  left:5%;
  width:30%;
  height:30%;
  z-index:2;
  font-size:75%
}

.rowe a {
  color : #1A1D26;
  background-color: #AD975F;
  text-decoration:none;
  font-size: 150%;
  padding-right:4%;
  padding-left:4%;
  padding-top:3%;
  padding-bottom:3%;
  text-align: center;
}
.rowe a:visited {
  /* Les liens "au repos" et déjà visités antérieurement */
  color: #1A1D26; /* couleur blanche */
}

/*BARRE DE NAVIGATION*/
li {
  display: inline-block;
  float: right;
  /*taille*/
  width: 5%;
  height: 100%;

}

.about{
  margin-right: 7%;
}
.actu{
  width: 3.2%;
}
.barre .actu a {
  text-decoration:none;
  width: 4%;
  height: 76%;
  position: absolute;
  padding-top: 1.35%;
  text-align: center;
}
ul {
  background-color: #1A1D26;
  font-size: 100%;
  margin: 0%;
  width: 100%;
  height: 100%;
  /*height: 100px;*/
  float: left;
  padding: 0;

}

.barre nav{
  position: fixed; top: 0; /* Mise en forme */
  width: 100%; /* <-- Largeur de votre site */
  height: 12%;
  z-index:3;
}

.barre a {
  text-decoration:none;
  font-family: bellerose;
  width: 5%;
  height: 76%;
  position: absolute;
  padding-top: 1.35%;
  text-align: center;
}

.logo{
  display: inline-block;
  float: left;
  /*taille*/
  width: 5%;
  height: 100%;
  margin-left: 2%;
}
.logo a{
  text-decoration:none;
  font-family: Bellerose;
  width: 5%;
  height: 76%;
  position: absolute;
  padding-top: 0.05%;
  text-align: center;
}
.logo img {
 display: inline-block;
 float: left;
 width: 120%;
 height: 130%;
 /*taille*/
}
}
@media all and (min-width: 1081px) and (max-width:1400px){

    body{
      height: 100%;
      font-size: 150%;
      color: #1A1D26;
      width: 100%;
      margin: 0%;
      background-color:#D2B671;
    }

    .content{
      width:100%;
    }

    h1{
      color:#AD975F;
      font-family: bellerose;
    }

    h2{
    	padding-bottom:5%;
    	width:20%;
    	color:#1A1D26;
    	background-color:#AD975F;
      font-family: bellerose;
    }

    p{
      font-family: "futura_lt_bt_light-webfont";
      font-size: 155%;
      color:#AD975F;
    }
    img{
      width:100%;
      height:905px;
      z-index:1;
    }

    .content:first-child{
     display:inline-block;
     width:100%;
     margin:0%;
     margin-top:4.5%;

    }
    .content{
     display:inline-block;
     width:100%;
     margin-bottom:0px;
     margin-top:0px;
     border:0;
    }

    /*BOUTON VOIR*/
    /*CARA*/

    .cara a {
      color : #1A1D26;
      background-color: #AD975F;
      text-decoration:none;
      font-size: 175%;
      width: 150%;
      padding-right:3%;
      padding-left:3%;
      padding-top:0%;
      padding-bottom:2%;
      text-align: center;
    }
    .cara a:visited {
      /* Les liens "au repos" et déjà visités antérieurement */
      color: #1A1D26; /* couleur blanche */
    }
    .cara{
      position:absolute;
      top:15%;
      left:5%;
      width:30%;
      height:30%;
      z-index:2;
      font-size:75%
    }
    /*NINA*/
    .nina{
      position:absolute;
      top:125%;
      left:5%;
      width:30%;
      height:30%;
      z-index:2;
      font-size:75%
    }
    .nina a {
      color : #1A1D26;
      background-color: #AD975F;
      text-decoration:none;
      font-size: 175%;
      width: 5%;
      height: 75%;
      padding-right:3%;
      padding-left:3%;
      padding-top:0%;
      padding-bottom:2%;
      text-align: center;
    }
    .nina a:visited {
      /* Les liens "au repos" et déjà visités antérieurement */
      color: #1A1D26; /* couleur blanche */

    }
    /*REN*/
    .ren{
      position:absolute;
      top:235%;
      left:5%;
      width:30%;
      height:30%;
      z-index:2;
      font-size:75%
    }
    .ren a {
      color : #1A1D26;
      background-color: #AD975F;
      text-decoration:none;
      font-size: 175%;
      width: 5%;
      height: 75%;
      padding-right:3%;
      padding-left:3%;
      padding-top:0%;
      padding-bottom:2%;
      text-align: center;
    }
    .ren a:visited {
      /* Les liens "au repos" et déjà visités antérieurement */
      color: #1A1D26; /* couleur blanche */
    }

    /*ROWE*/
    .rowe{
      position:absolute;
      top:355%;
      left:5%;
      width:30%;
      height:30%;
      z-index:2;
      font-size:75%
    }

    .rowe a {
      color : #1A1D26;
      background-color: #AD975F;
      text-decoration:none;
      font-size: 175%;
      width: 5%;
      height: 75%;
      padding-right:3%;
      padding-left:3%;
      padding-top:0%;
      padding-bottom:2%;
      text-align: center;
    }
    .rowe a:visited {
      /* Les liens "au repos" et déjà visités antérieurement */
      color: #1A1D26; /* couleur blanche */
    }


    /*BARRE DE NAVIGATION*/
    li {
      display: inline-block;
      float: right;
      /*taille*/
      width: 7%;
      height: 100%;

    }

    .about{
      margin-right: 7%;
    }

    .actu{
      width: 3%;
    }
    .barre .actu a {
      text-decoration:none;
      width: 4%;
      height: 76%;
      position: absolute;
      padding-top: 1.35%;
      text-align: center;
    }

    ul {
      background-color: #1A1D26;
      font-size: 100%;
      margin: 0%;
      width: 100%;
      height: 100%;
      /*height: 100px;*/
      float: left;
      padding: 0;

    }

    .barre nav{
      position: fixed; top: 0; /* Mise en forme */
      width: 100%; /* <-- Largeur de votre site */
      height: 10%;
      z-index:3;
    }

    .barre a {
      font-family: bellerose;
      text-decoration:none;
      width: 10%;
      height: 76%;
      position: absolute;
      padding-top: 1.35%;
      text-align: center;
    }

    .logo{
      display: inline-block;
      float: left;
      /*taille*/
      width: 5%;
      height: 100%;
      margin-left: 2%;
    }
    .logo a{
      text-decoration:none;
      font-family: Bellerose;
      width: 5%;
      height: 76%;
      position: absolute;
      padding-top: 0.05%;
      text-align: center;
    }
    .logo img {
     display: inline-block;
     float: left;
     width: 40%;
     height: 50%;
     /*taille*/
    }
    }

@media all and (min-width: 640px) and (max-width:1080px){
    body{
      height: 100%;
      font-size: 150%;
      color: #1A1D26;
      width: 100%;
      margin: 0%;
      background-color:#D2B671;
    }

    .content{
      width:100%;
    }

    h1{
      color:#AD975F;
      font-family: bellerose;
    }

    h2{
    	padding-bottom:5%;
    	width:20%;
    	color:#1A1D26;
    	background-color:#AD975F;
      font-family: bellerose;
    }

    p{
      font-family: "futura_lt_bt_light-webfont";
      font-size: 135%;
      color:#AD975F;
    }
    img{
      width:100%;
      height:905px;
      z-index:1
    }

    .content:first-child{
     display:inline-block;
     width:100%;
     margin:0%;
     margin-top:4.5%

    }
    .content{
     display:inline-block;
     width:100%;
     margin-bottom:0px;
     margin-top:0px;
     border:0;
    }

    /*BOUTON VOIR*/
    /*CARA*/

    .cara a {
      color : #1A1D26;
      background-color: #AD975F;
      text-decoration:none;
      font-size: 175%;
      width: 150%;
      padding-right:3%;
      padding-left:3%;
      padding-top:0%;
      padding-bottom:2%;
      text-align: center;
    }
    .cara a:visited {
      /* Les liens "au repos" et déjà visités antérieurement */
      color: #1A1D26; /* couleur blanche */
    }
    .cara{
      position:absolute;
      top:10%;
      left:5%;
      width:30%;
      height:30%;
      z-index:2;
      font-size:75%
    }
    /*NINA*/
    .nina{
      position:absolute;
      top:125%;
      left:5%;
      width:30%;
      height:30%;
      z-index:2;
      font-size:75%
    }
    .nina a {
      color : #1A1D26;
      background-color: #AD975F;
      text-decoration:none;
      font-size: 175%;
      width: 5%;
      height: 75%;
      padding-right:3%;
      padding-left:3%;
      padding-top:0%;
      padding-bottom:2%;
      text-align: center;
    }
    .nina a:visited {
      /* Les liens "au repos" et déjà visités antérieurement */
      color: #1A1D26; /* couleur blanche */

    }
    /*REN*/
    .ren{
      position:absolute;
      top:240%;
      left:5%;
      width:30%;
      height:30%;
      z-index:2;
      font-size:75%
    }
    .ren a {
      color : #1A1D26;
      background-color: #AD975F;
      text-decoration:none;
      font-size: 175%;
      width: 5%;
      height: 75%;
      padding-right:3%;
      padding-left:3%;
      padding-top:0%;
      padding-bottom:2%;
      text-align: center;
    }
    .ren a:visited {
      /* Les liens "au repos" et déjà visités antérieurement */
      color: #1A1D26; /* couleur blanche */
    }

    /*ROWE*/
    .rowe{
      position:absolute;
      top:355%;
      left:5%;
      width:30%;
      height:30%;
      z-index:2;
      font-size:75%
    }

    .rowe a {
      color : #1A1D26;
      background-color: #AD975F;
      text-decoration:none;
      font-size: 175%;
      width: 5%;
      height: 75%;
      padding-right:3%;
      padding-left:3%;
      padding-top:0%;
      padding-bottom:2%;
      text-align: center;
    }
    .rowe a:visited {
      /* Les liens "au repos" et déjà visités antérieurement */
      color: #1A1D26; /* couleur blanche */
    }


    /*BARRE DE NAVIGATION*/
    li {
      display: inline-block;
      float: right;
      /*taille*/
      width: 10%;
      height: 100%;

    }

    .about{
      margin-right: 7%;
    }

    .actu{
      width: 4%;
    }
    .barre .actu a {
      text-decoration:none;
      width: 4%;
      height: 90%;
      position: absolute;
      padding-top: 1.35%;
      text-align: center;
    }

    ul {
      background-color: #1A1D26;
      font-size: 100%;
      margin: 0%;
      width: 100%;
      height: 100%;
      /*height: 100px;*/
      float: left;
      padding: 0;
    }

    .barre nav{
      position: fixed; top: 0; /* Mise en forme */
      width: 100%; /* <-- Largeur de votre site */
      height: 10%;
      z-index:3;
    }

    .barre a {
      font-family: bellerose;
      text-decoration:none;
      width: 10%;
      height: 76%;
      position: absolute;
      padding-top: 1.35%;
      text-align: center;
    }

    .logo{
      display: inline-block;
      float: left;
      /*taille*/
      width: 5%;
      height: 100%;
      margin-left: 2%;
    }
    .logo a{
      text-decoration:none;
      font-family: Bellerose;
      width: 5%;
      height: 76%;
      position: absolute;
      padding-top: 0.05%;
      text-align: center;
    }
    .logo img {
     display: inline-block;
     float: left;
     width: 40%;
     height: 50%;
     /*taille*/
    }
    }

@media all and (min-width: 0px) and (max-width:640px){
  p
    {
        color: red;
        background-color: black;
        font-size: 1.2em;
    }
    body{
      height: 100%;
      font-size: 150%;
      color: #1A1D26;
      width: 100%;
      margin: 0%;
      font-family: bellerose;
      background-color:#D2B671;
    }

    .content{
      width:100%;
    }

    h1{
      color:#AD975F;
    }

    h2{
    	padding-bottom:5%;
    	width:20%;
    	color:#1A1D26;
    	background-color:#AD975F;
    }

    p{
      font-size: 100%;
      color:#AD975F;
    }
    img{
      width:100%;
      height:905px;
      z-index:1
    }

    .content:first-child{
     display:inline-block;
     width:100%;
     margin:0%;
     margin-top:4.5%

    }
    .content{
     display:inline-block;
     width:100%;
     margin-bottom:0px;
     margin-top:0px;
     border:0;
    }

    /*BOUTON VOIR*/
    /*CARA*/

    .cara a {
      color : #1A1D26;
      background-color: #AD975F;
      text-decoration:none;
      font-size: 175%;
      width: 150%;
      padding-right:3%;
      padding-left:3%;
      padding-top:0%;
      padding-bottom:2%;
      text-align: center;
    }
    .cara a:visited {
      /* Les liens "au repos" et déjà visités antérieurement */
      color: #1A1D26; /* couleur blanche */
    }
    .cara{
      position:absolute;
      top:15%;
      left:5%;
      width:30%;
      height:30%;
      z-index:2;
      font-size:75%
    }
    /*NINA*/
    .nina{
      position:absolute;
      top:150%;
      left:5%;
      width:30%;
      height:30%;
      z-index:2;
      font-size:75%
    }
    .nina a {
      color : #1A1D26;
      background-color: #AD975F;
      text-decoration:none;
      font-size: 175%;
      width: 5%;
      height: 75%;
      padding-right:3%;
      padding-left:3%;
      padding-top:0%;
      padding-bottom:2%;
      text-align: center;
    }
    .nina a:visited {
      /* Les liens "au repos" et déjà visités antérieurement */
      color: #1A1D26; /* couleur blanche */

    }
    /*REN*/
    .ren{
      position:absolute;
      top:270%;
      left:5%;
      width:30%;
      height:30%;
      z-index:2;
      font-size:75%
    }
    .ren a {
      color : #1A1D26;
      background-color: #AD975F;
      text-decoration:none;
      font-size: 175%;
      width: 5%;
      height: 75%;
      padding-right:3%;
      padding-left:3%;
      padding-top:0%;
      padding-bottom:2%;
      text-align: center;
    }
    .ren a:visited {
      /* Les liens "au repos" et déjà visités antérieurement */
      color: #1A1D26; /* couleur blanche */
    }

    /*ROWE*/
    .rowe{
      position:absolute;
      top:200%;
      left:5%;
      width:30%;
      height:30%;
      z-index:2;
      font-size:75%
    }

    .rowe a {
      color : #1A1D26;
      background-color: #AD975F;
      text-decoration:none;
      font-size: 175%;
      width: 5%;
      height: 75%;
      padding-right:3%;
      padding-left:3%;
      padding-top:0%;
      padding-bottom:2%;
      text-align: center;
    }
    .rowe a:visited {
      /* Les liens "au repos" et déjà visités antérieurement */
      color: #1A1D26; /* couleur blanche */
    }


    /*BARRE DE NAVIGATION*/
    li {
      display: inline-block;
      float: right;
      /*taille*/
      width: 10%;
      height: 100%;

    }

    nav,ul,li:first-child{
      margin-right: 7%;
    }

    ul {
      background-color: #1A1D26;
      font-size: 100%;
      margin: 0%;
      width: 100%;
      height: 100%;
      /*height: 100px;*/
      float: left;
      padding: 0;

    }

    .barre nav{
      position: fixed; top: 0; /* Mise en forme */
      width: 100%; /* <-- Largeur de votre site */
      height: 10%;
      z-index:3;
    }

    .barre a {
      text-decoration:none;
      width: 10%;
      height: 76%;
      position: absolute;
      padding-top: 1.35%;
      text-align: center;
    }

    .logo{
      display: inline-block;
      float: left;
      /*taille*/
      width: 5%;
      height: 100%;
      margin-left: 2%;
    }
    .logo a{
      text-decoration:none;
      font-family: Bellerose;
      width: 5%;
      height: 76%;
      position: absolute;
      padding-top: 0.05%;
      text-align: center;
    }
    .logo img {
     display: inline-block;
     float: left;
     width: 40%;
     height: 50%;
     /*taille*/
    }
    }
