<!DOCTYPE html>

<!-- HEADING-->
<html lang="fr">
<head>
  <link rel="stylesheet" href="identification.css"> <!--script styles.css-->

<meta charset="UTF-8">
<title>Identification</title>


<body>
    <div class="image">
<img src="loup.png" alt="cara">
</div>
<title>WGA</title>
    <div class="container">
  <form method="post" action="./identification.php" class="connexion">

  <label for="identifiant">
  	Identifiant :
  	<br />
  	<input type="text" name="identifiant" id="identifiant" />
  </label>

  <br />
  <br />

  <label for="mot_de_passe">
  	Mot de passe :
  	<br />
  	<input type="password" name="mot_de_passe" id="mot_de_passe" />
  </label>

  <br />
  <br />
<div class="bouton">
  <input type="submit" name="valider" value="Valider" />
  <input type="reset" name="reinitialiser" value="Réinitialiser" />
</div>

  </form>
</div>
</body>                               <!-- end BODY-->
</html>
