<!DOCTYPE html>

<!-- HEADING-->
<html lang="fr">
<head>
  <link rel="stylesheet" href="homeBook.css"> <!--script styles.css-->

<meta charset="UTF-8">
<title>Home</title>
<div class="barre">
<nav>
<ul>
  <li class="artistes"><a href="bookerArtistes.html">Artistes</a></li>
  <li class="evenement"><a href="bookerEvenement.html">Evenement</a></li>
  <li class="accueil"><a href="homeBook.html">Accueil</a></li>
  <li class="logo"><a href="homeBook.html"><img src="../data/loup.png" alt="loup"></a></li>
  </ul>
</nav>
</div>
</head>


<body>
<div class="content">

<div class="Description">             <!-- DIV Organisateurs-->
<h1>Memo</h1>
<h2>Nom booker</h2>
<p>- Chose a memoriser 1</p>
<p>- Chose a memoriser 2</p>
<p>- Chose a memoriser 3</p>
</div>
<div class="image">
</div>
</div>

</body>                               <!-- end BODY-->

</html>
