<!DOCTYPE html>

<!-- HEADING-->
<html lang="fr">
<head>
  <link rel="stylesheet" href="contact.css"> <!--script styles.css-->

<meta charset="UTF-8">
<title>Contact</title>

<div class="barre">
<nav>
<ul>
  <li class="about"><a href="about.html">About</a></li>
  <li class="contact"><a href="contact.html">Contact</a></li>
  <li class="artistes"><a href="artistes.html">Artistes</a></li>
  <li class="actu"><a href="actu.html">Actu</a></li>
  <li class="logo"><a href="actu.html"><img src="../data/loup.png" alt="loup"></a></li>
  </ul>
</nav>
</div>
</head>


<body>
<div class="content">

<div class="Organisateurs">             <!-- DIV Organisateurs-->
<h1>Organisateurs</h1>
<h2>Email :</h2>
<p>WolfGangAmadeusFestival@gmail.com</p>
<h2>Telephone :</h2>
<p>045405485708</p>
<h2>Adresse :</h2>
<p>21 rue kalkela<br/>
69055
grenible</p>
</div>
<div class="ligne">             <!-- DIV Organisateurs-->
<hr width="0.2px" size="600px" />
</div>                                <!-- end DIV presentation-->
<div class="Artistes">             <!-- DIV presentation-->
<h1>Artistes/Groupes</h1>
<h2>Email :</h2>
<p>WolfGangAmadeusBooking.com</p>
<h2>Telephone :</h2>
<p>045405485708</p>
<h2>Adresse :</h2>
<p>21 rue kalkela<br/>
69055
grenible</p>
</div>
</div>


</body>                               <!-- end BODY-->

</html>
