<!DOCTYPE html>

<!-- HEADING-->
<html lang="fr">
<head>
  <link rel="stylesheet" href="evenementSonar.css"> <!--script styles.css-->

<meta charset="UTF-8">
<title>Artistes</title>
<div class="barre">
<nav>
<ul>
  <li class="about"><a href="about.html">About</a></li>
  <li class="contact"><a href="contact.html">Contact</a></li>
  <li class="artistes"><a href="artistes.html">Artistes</a></li>
  <li class="actu"><a href="actu.html">Actu</a></li>
  <li class="logo"><a href="actu.html"><img src="../data/loup.png" alt="loup"></a></li>
  </ul>
</nav>
</div>
</head>


<body>
<div class="content">
<div class="text">
<img src="../data/Sonar2.jpg" alt="Sonar">
</div>
<div class="des">
<h1>Sonar Festival</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dr sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dr sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dr sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="link">
  <div class="fb">
<a href="https://www.facebook.com/SonarFestivalOfficialPage/?fref=ts"><img src="../data/fb.png" alt="fb"></a>
<p>https://www.facebook.com/SonarFestivalOfficialPage/?fref=ts</p>
</div>
  <div class="tw">
<a href="https://twitter.com/Sonar-festival"><img src="../data/twit.png" alt="tweeter"></a>
<p>https://twitter.com/Sonar-festival</p>
</div>
  <div class="yout">
<a href="https://www.youtube.com/user/SonarFestival"><img src="../data/yt.png" alt="sound"></a>
<p>https://www.youtube.com/user/SonarFestival</p>
</div>
</div>
<div class="img">
<img src="../data/sonar.jpg" alt="sound">
</div>
</div>

</body>                               <!-- end BODY-->

</html>
